.container {
    height: 50%;
    padding: 30px;
    margin: 30px;
}

.container img {
    width: 20rem;
    max-width: calc(100% - 40px);
}

.container p {
    font-size: clamp(15px, 4vw + 1rem, 30px);
}